# ====================
# SERVER CONFIGURATION
# ====================
PORT=3000
NODE_ENV=dev

# ====================
# DATABASE
# ====================
MONGO_URI=YOUR_DATABASE_CONNECTION_STRING
# MongoDB Atlas: mongodb+srv://username:password@cluster.mongodb.net/database

# ====================
# JWT AUTHENTICATION
# ====================
JWT_ACCESS_SECRET=YOUR_JWT_SECRET_KEY
JWT_ACCESS_LIFETIME=15m

# ====================
# RATE LIMITING
# ====================
RATE_LIMIT=100000 # For local testing