.checkout-header{
    display: flex;
    justify-content: center;
    padding: 1em;
    background-color: #846A6A;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 102;
}
.checkout-header img{
    width: 200px;
    height: 40px;
    object-fit: cover;
}