.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 2em;
    background-color: #846A6A;
    padding: 0.2em 1em;
    color: #353B3C;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 101;
}

.header-logo{
    width: 170px;
    height: 40px;
    object-fit: cover;
}

.search-section{
    flex: 4;
    border-radius: 5px;
}
.search-section{
    display: flex;
    color: #353B3C;
}
.search-section *{
    border: none;
}
.search-bar{
    flex: 1;
    font-size: 0.9rem;
    padding: 0.7em;
    background-color: #C6C7C4;
    color: inherit;
}
.search-bar::placeholder{
    font-size: 0.9rem;
}
.category-selection{
    padding: 0.2em;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    background-color: #A2999E;
    color: inherit;
    transition: opacity 0.10s;
}
.category-selection:hover{
    opacity: 0.7;
}
.search-bar:focus,
.category-selection:focus{
    outline: none;
}
.search-button{
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    width: 50px;
    background-color: #C6C7C4;
}
.search-button .svg-icon{
    fill: #C6C7C4;
    transition: fill 0.10s, transform 0.10s;
}
.search-button:hover .svg-icon{
    fill: #EEF0F2;
    transform: rotate(-5deg);
}


.header-icons{
    width: 200px;
    display: flex;
    justify-content: space-between;
    padding: 0.5em 1em;
}
.icon-button{
    border: none;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 50px;
    padding: 0.2em 2em;
    background-color: transparent;
    color: #353B3C;
    transition: box-shadow 0.15s, color 0.15s, transform 0.15s;
    position: relative;
}
.svg-icon{
    width: 32px;
    height: 32px;
    fill: #353B3C;
}
.cart-icon{
    stroke: #353B3C;
}
.orders-icon{
    width: 40px;
    height: 40px;
}
.icon-button:hover{
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.15);
    transform: scale(1.15, 1.15);
    filter: blur(1px) brightness(1.2);
}

.cart-quantity{
    position: absolute;
    padding: 2px 5px;
    border-radius: 50%;
    background-color: #C6C7C4;
    right: 0;
    top: 0;
    font-weight: bold;
}