.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 2em;
    background-color: #846A6A;
    padding: 0.2em 1em;
    color: #353B3C;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 104;
}

.header-logo{
    width: 170px;
    height: 40px;
    object-fit: cover;
}

.search-section{
    flex: 4;
    border-radius: 5px;
}
.search-section{
    display: flex;
    color: #353B3C;
}
.search-section *{
    border: none;
}
.search-bar{
    flex: 1;
    font-size: 0.9rem;
    padding: 0.7em;
    background-color: #C6C7C4;
    color: inherit;
}
.search-bar::placeholder{
    font-size: 0.9rem;
}
.category-selection{
    padding: 0.2em;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    background-color: #A2999E;
    color: inherit;
    transition: opacity 0.10s;
}
.category-selection:hover{
    opacity: 0.7;
}
.search-bar:focus,
.category-selection:focus{
    outline: none;
}
.search-button{
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    width: 50px;
    background-color: #C6C7C4;
}
.search-button .svg-icon{
    fill: #C6C7C4;
    transition: fill 0.10s, transform 0.10s;
}
.search-button:hover .svg-icon{
    fill: #EEF0F2;
    transform: rotate(-5deg);
}


.header-icons{
    width: 200px;
    display: flex;
    justify-content: space-between;
    padding: 0.5em 1em;
    position: relative;
}
.icon-button{
    border: none;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 50px;
    padding: 0.2em 2em;
    background-color: transparent;
    color: #353B3C;
    transition: box-shadow 0.15s, color 0.15s, transform 0.1s;
    position: relative;
}
.svg-icon{
    width: 32px;
    height: 32px;
    fill: #353B3C;
}
.cart-icon{
    stroke: #353B3C;
}
.orders-icon{
    width: 40px;
    height: 40px;
}
.icon-button:hover{
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.15);
    transform: scale(1.1);
    filter: blur(1px) brightness(1.2);
}
.icon-button:active{
    transform: scale(1);
}
.icon-button-active{
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.15);
    transform: scale(1.1);
    filter: blur(1px) brightness(1.2);
}

.cart-quantity{
    position: absolute;
    padding: 2px 5px;
    border-radius: 50%;
    background-color: #C6C7C4;
    right: 0;
    top: 0;
    font-weight: bold;
}

.dropdown-container{
    background-color: #353B3C;
    color: #C6C7C4;
    position: fixed;
    top: 80px;
    right: 0;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    padding: 1em;
    width: 400px;
    z-index: 103;
}
.header-dropdown-scroll-wrapper{
    overflow: auto;
    padding: 1em;
}
.header-cart-products{
    display: flex;
    flex-direction: column;
    max-height: 500px;
}
.header-cart-product{
    display: flex;
    gap: 1em;
    margin: 1em 0;
}
.header-image-container{
    width: 90px;
    border-radius: 10px;
    position: relative;
}
.header-image-container img{
    width: 100%;
    border-radius: 10px;
}
.header-image-container::after{
    content: "";
    position: absolute;
    inset: 0;
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.15));
    border-radius: 10px;
}
.header-cart-product-info{
    display: flex;
    flex-direction: column;
    flex: 1;
    justify-content: space-between;
}
.header-cart-product-upper-section,
.header-cart-product-lower-section{
    display: flex;
    justify-content: space-between;
    gap: 1em;
    font-size: 1rem;
}
.header-cart-product-lower-section{
    align-items: end;
}
.header-cart-product-upper-section{
    flex: 1;
}
.header-product-price{
    font-size: 1.5rem;
    font-weight: bold;
}
.header-product-remove-button{
    padding: 0.5em 1em;
    background-color: #C6C7C4;
    color: #846A6A;
    font-weight: bold;
    border: none;
    border-radius: 6px;
    z-index: 103;
    transition: opacity 0.15s;
}
.header-product-remove-button:hover{
    opacity: 0.7;
}

.checkout-button{
    z-index: 103;
    padding: 0.5em 1em;
    font-size: 1rem;
    background-color: #C6C7C4;
    border: none;
    border-radius: 10px;
    color: #846A6A;
    font-weight: bold;
    transition: opacity 0.15s;
    margin-top: 1em;
    width: 100%;
}
.checkout-button:hover{
    opacity: 0.7;
}
.checkout-button-wrapper{
    display: flex;
    text-decoration: none;
}

.empty-cart-text{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5rem;
}