.product-group{
    padding: 1em 2em;
    background-color: #C6C7C4;
    position: relative;
    margin: 2em 0;
    border-radius: 20px;
}
.product-group h3{
    font-size: 1.7rem;
    color: #846A6A;
}
.product-scroller{
    scroll-behavior: smooth;
    overflow: hidden;
    width: 1408px;
}
.product-group-container{
    display: flex;
    gap: 20px;
    padding: 1em 10px;
    transition: transform 0.3s ease-in-out;
}
.prev-button,
.next-button{
    position: absolute;
    top: 50%;
    padding: 0.5em 1em;
    font-size: 1.2rem;
    color: #353B3C;
    background-color: #846A6A;
    transition: opacity 0.15s, transform 0.05s;
    z-index: 100;
    border: solid 1px #353B3C;
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.15);
}
.prev-button:hover,
.next-button:hover{
    opacity: 0.7;
}
.prev-button:active,
.next-button:active{
    transform: translate(3px, 3px);
    box-shadow: none;
}
.next-button{
    right: 0.5em;
    border-radius: 5px 20px 20px 5px;
}
.prev-button{
    left: 0.5em;
    border-radius: 20px 5px 5px 20px;
}